    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    textarea { 
      font-size: 18px; 
    }

    #codeArea { 
      width: 45%;
      height: 94%;
      padding: 10px 15px; 
      font-size: 16px;
      margin: 10px;
      border: 1px solid silver;
      float: left;
      overflow: hidden;
    }
    .btn-parser {
      background-color: #E6DB74;
      margin-left: 20px;
    }
    .ace_scrollbar {
      background-color: azure;
      opacity: 0.3;
    }

    #bSide {
    width: 45%;
    height: 94%;
    font-size: 16px;
    margin: 10px;
    border: 1px solid silver;
    overflow: hidden;
    display: inline-block;
    }

    .dropdown {
      width: 40%;
      max-width: 200px;
    }

    #dropdownMenu{
      width: 150%;
      max-width: 200px;
    }

    