    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    textarea { font-size: 18px; }
    #codeArea { 
      width: 45%;
      height: 94%;
      padding: 10px 15px; 
      font-size: 16px;
      margin: 10px;
      border: 1px solid silver;
      display: inline-block;
      overflow: hidden;
    }
    .btn-parser {
      padding: 10px 25px;
      background-color: #E6DB74;
      font-size: 16px;
      border: none;
      position: absolute;
      left: 40%;
      top: 90%;
      z-index: 9;
    }
    .ace_scrollbar {
      background-color: azure;
      opacity: 0.3;
    }